<!DOCTYPE html>
<html lang="en">
    <head>
        <title>APE-Stack Server</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no"/>
        <!-- External bootstrap-related css CDN's for styling (since server assets cannot be trusted to generate dynamically during errors) -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <span class="navbar-header navbar-expand text-light">APE-Stack Server</span>
        </nav>
        <main role="main">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="diplay-3">
                        You have encountered a fatal server error
                    </h1>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="container">
                            <%= error.message %>
                        </div>
                    </div>
                </div>
            </div>
            <!-- External bootstrap-related script CDN's for styling (since server assets cannot be trusted to generate dynamically during errors) -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        </main>
    </body>
</html>
