<!DOCTYPE html>
<html>
    <head>
        <title>APE-Stack Server</title>
        <meta name="viewport" content="width=device-width", initial-scale=1.0 />
        <link rel="stylesheet" href="/fonts/fonts.css" />
    </head>
    <body>
        <h1>APE-Stack Server</h1>
        <div>Fatal Error Encountered:</div>
        <div>
            <%= error.message %>
        </div>
    </body>
</html>
